{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}	
  
<!-- Main -->
				<div id="main" class="wrapper style2">
					<div class="title">About Us</div>
					<div class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Lorem ipsum dolor sit amet magna egestas<br class="mobile-hide" />
										morbi bibendum sed malesuada</h2>
										<p>Tempus feugiat veroeros sed nullam dolore</p>
									</header>
									<a href="#" class="image featured">
										<img src="/static/images/pic01.jpg" alt="" />
									</a>
									<p>A Contact Us page is a vital component of a brand’s website.

It’s one of the few ways available for potential customers to have a direct line of communication with a business – all without leaving the site.

Not only is a Contact Us page great for capturing leads, but it’s also an efficient tool for customer service operations.

Website visitors will typically also leave feedback or ask general questions through a contact page. These pieces of information are valuable to businesses because they learn more about consumer expectations and preferences.

Need some inspiration to spice up your Contact Us page?

Look no further than the over 40 examples for inspiration on how to create a compelling and attractive Contact Us page.
                                    </p>
								</article>
							</div>

					</div>
				</div>
     
            

{% endblock %}	